<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>student details</title>
</head>
<body>
    <h1>current date and time along with student details</h1>
    <h2>current date and time is {{dt}}</h2>
    <h2>student name is {{sname}}</h2>
    <h2>student roll number is {{sroll}}</h2>
    <h2>student branch is {{sbranch}}</h2>
    <h2>student address is {{saddress}}</h2>
    
</body>
</html>